%html
%head
  %title ERMAHGERD!
%body
  %h1 Get ready to herp some derps:

  %form{ :action => '/ternslert' }
    %input{ :type => 'text', :name => 'input', :placeholder => 'Speak English Here', :value => "" }