%html
%head
  %title ERMAHGERD!
%body
  %h1 Get ready to herp some derps:

  %form{ :action => '/ternslert' }
    %textarea{ :name => 'input', :placeholder => 'Speak English Here' }
    %br
    %input{ :type => 'submit', :value => 'ERRRRRRRRRRRR' }